USE [DB_LOTTECINEMA]
GO
/****** Object:  Table [dbo].[CHITIETSUATCHIEU_THIETBI]    Script Date: 6/25/2018 12:59:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETSUATCHIEU_THIETBI](
	[MaSuatChieu] [int] NOT NULL,
	[MaThietBi] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETSUATCHIEU_THIETBI] PRIMARY KEY CLUSTERED 
(
	[MaSuatChieu] ASC,
	[MaThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOHOTPHIM]    Script Date: 6/25/2018 12:59:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOHOTPHIM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaDoHot]  AS ('DOHOT_'+right('000'+CONVERT([varchar](2),[id]),(2))) PERSISTED NOT NULL,
	[TenDoHot] [nvarchar](100) NOT NULL,
	[TienPhuThem] [int] NOT NULL,
 CONSTRAINT [PK_DOHOTPHIM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/25/2018 12:59:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang]  AS ('KH_'+right('000'+CONVERT([varchar](4),[id]),(5))) PERSISTED NOT NULL,
	[HoTen] [nvarchar](70) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[CMND] [varchar](10) NOT NULL,
	[SoDienThoai] [varchar](11) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/25/2018 12:59:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [varchar](11) NOT NULL,
	[HoTen] [nvarchar](70) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[ChucVu] [varchar](10) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIM]    Script Date: 6/25/2018 12:59:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaPhim]  AS ('PHIM_'+right('000'+CONVERT([varchar](4),[id]),(5))) PERSISTED NOT NULL,
	[TenPhim] [nvarchar](200) NOT NULL,
	[TinhTrang] [nvarchar](50) NOT NULL,
	[ThoiLuong] [int] NOT NULL,
	[MaDoHot] [int] NOT NULL,
 CONSTRAINT [PK_PHIM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 6/25/2018 12:59:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong]  AS ('PHONG_'+right('000'+CONVERT([varchar](3),[id]),(3))) PERSISTED NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUATCHIEU]    Script Date: 6/25/2018 12:59:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUATCHIEU](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaSuatChieu]  AS ('SUATCHIEU_'+right('000'+CONVERT([varchar](4),[id]),(5))) PERSISTED NOT NULL,
	[NgayChieu] [date] NOT NULL,
	[ThoiGianBatDau] [time](7) NOT NULL,
	[ThoiGianKetThuc] [time](7) NOT NULL,
	[MaPhim] [int] NOT NULL,
	[MaPhong] [int] NOT NULL,
 CONSTRAINT [PK_SUATCHIEU] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANGTHIETBI]    Script Date: 6/25/2018 12:59:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANGTHIETBI](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaThietBi]  AS ('THIETBI_'+right('000'+CONVERT([varchar](3),[id]),(3))) PERSISTED NOT NULL,
	[TenThietBi] [nvarchar](200) NOT NULL,
	[TienPhuThem] [int] NOT NULL,
 CONSTRAINT [PK_TRANGTHIETBI] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VEXEMPHIM]    Script Date: 6/25/2018 12:59:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VEXEMPHIM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaVe]  AS ('VE_'+right('000'+CONVERT([varchar](4),[id]),(5))) PERSISTED,
	[MaKhachHang] [int] NULL,
	[GiaVe] [int] NOT NULL,
	[TinhTrang] [nvarchar](50) NOT NULL,
	[TenChoNgoi] [varchar](10) NOT NULL,
	[MaSuatChieu] [int] NOT NULL,
	[ChoNgoiDep] [bit] NOT NULL,
	[SDTDatVe] [varchar](11) NULL,
	[NhanVienBanVe] [varchar](11) NOT NULL,
 CONSTRAINT [PK_VEXEMPHIM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CHITIETSUATCHIEU_THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETSUATCHIEU_THIETBI_SUATCHIEU] FOREIGN KEY([MaSuatChieu])
REFERENCES [dbo].[SUATCHIEU] ([id])
GO
ALTER TABLE [dbo].[CHITIETSUATCHIEU_THIETBI] CHECK CONSTRAINT [FK_CHITIETSUATCHIEU_THIETBI_SUATCHIEU]
GO
ALTER TABLE [dbo].[CHITIETSUATCHIEU_THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETSUATCHIEU_THIETBI_TRANGTHIETBI] FOREIGN KEY([MaThietBi])
REFERENCES [dbo].[TRANGTHIETBI] ([id])
GO
ALTER TABLE [dbo].[CHITIETSUATCHIEU_THIETBI] CHECK CONSTRAINT [FK_CHITIETSUATCHIEU_THIETBI_TRANGTHIETBI]
GO
ALTER TABLE [dbo].[PHIM]  WITH CHECK ADD  CONSTRAINT [FK_PHIM_DOHOTPHIM] FOREIGN KEY([MaDoHot])
REFERENCES [dbo].[DOHOTPHIM] ([id])
GO
ALTER TABLE [dbo].[PHIM] CHECK CONSTRAINT [FK_PHIM_DOHOTPHIM]
GO
ALTER TABLE [dbo].[SUATCHIEU]  WITH CHECK ADD  CONSTRAINT [FK_SUATCHIEU_PHIM] FOREIGN KEY([MaPhim])
REFERENCES [dbo].[PHIM] ([id])
GO
ALTER TABLE [dbo].[SUATCHIEU] CHECK CONSTRAINT [FK_SUATCHIEU_PHIM]
GO
ALTER TABLE [dbo].[SUATCHIEU]  WITH CHECK ADD  CONSTRAINT [FK_SUATCHIEU_PHONG] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([id])
GO
ALTER TABLE [dbo].[SUATCHIEU] CHECK CONSTRAINT [FK_SUATCHIEU_PHONG]
GO
ALTER TABLE [dbo].[VEXEMPHIM]  WITH CHECK ADD  CONSTRAINT [FK_VEXEMPHIM_KHACHHANG] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([id])
GO
ALTER TABLE [dbo].[VEXEMPHIM] CHECK CONSTRAINT [FK_VEXEMPHIM_KHACHHANG]
GO
ALTER TABLE [dbo].[VEXEMPHIM]  WITH CHECK ADD  CONSTRAINT [FK_VEXEMPHIM_NHANVIEN] FOREIGN KEY([NhanVienBanVe])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[VEXEMPHIM] CHECK CONSTRAINT [FK_VEXEMPHIM_NHANVIEN]
GO
ALTER TABLE [dbo].[VEXEMPHIM]  WITH CHECK ADD  CONSTRAINT [FK_VEXEMPHIM_SUATCHIEU] FOREIGN KEY([MaSuatChieu])
REFERENCES [dbo].[SUATCHIEU] ([id])
GO
ALTER TABLE [dbo].[VEXEMPHIM] CHECK CONSTRAINT [FK_VEXEMPHIM_SUATCHIEU]
GO
